*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(236, 236, 236);
}
.navbar{
    background-color: tomato;
    position: fixed;
    width: 20vw;
    color: white;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10vh;
    margin-left: 2vw;
    align-items: flex-start;
    align-content: space-between;
}
ul{
    list-style: none;
}
ul li{
    padding: 20px;
}
.name{
    font-size: 40px;
    font-weight: 650;
    padding: 0 0 5vh 0;
    margin: 1vh ;
    transition: color 0.2s ease;
}
@media screen and (max-width:962px) {
    .name{
        font-size: 28px;
        margin-bottom: 0.5vh;
        padding-bottom: 2.5vh;
        margin-left: 0.4vh;
    } 
} 
@media screen and (max-width:732px) {
    .name{
        font-size: 20px;
        padding-bottom: 1.2vh;
    } 
}
@media screen and (max-width:486px) {
    .name{
        font-size: 14px;
        padding: 0.8vh 0.5vw;
    } 
}
@media screen and (max-width:310px) {
    .name a{
        visibility: hidden;
    } 
    .name a span{
        visibility: visible;
        font-size: 18px;
    }
}
.tabs li{
    padding: 2.5vh 0.5vw;
    color: white;
    display: inline-block;
    list-style: none;
    font-size: 30px;
    font-weight: 500;
    transition: color 0.2s ease;
}    
.tabs li a{
    color: white;
}
@media screen and (max-width:962px) {
    .tabs li{
        font-size: 20px;
        padding: 1.5vh 0.5vw;
    } 
}
@media screen and (max-width:732px) {
    .tabs li{
        font-size: 15px;
        padding: 0.8vh 0.5vw;
    } 
}
@media screen and (max-width:486px) {
    .tabs li{
        font-size: 10px;
        padding: 0.8vh 0.5vw;
    } 
}
@media screen and (max-width:310px) {
    .tabs li{
        visibility: hidden;
    } 
    .tabs li a span{
        font-size: 15px ;
        visibility: visible;
        padding-left: 5px;
    }
}
.tabs li a:hover{ 
    color: black;
}
.name a:hover{
    color: black;
}
.name a{
    color: white;
}
.hobby{
    background-color: rgb(236, 236, 236);
    font-family: 'Rubik', sans-serif;
    color: black;
    height: 100vh;
    width: 80vw;
    display: grid;
    justify-content: center;
    float: right;
}
.top{
    font-size: 58px;
    font-weight: 600;
    margin:  140px 0px 0px 0px;
    text-align: center;
    color: tomato;
}
.content{
    display: grid;
    width: 80vw;
    height: 25vh;
    margin: 0vh 0vh 30vh 0 ;
    grid-template-columns: auto auto auto auto;
    font-family: 'Rubik', sans-serif;
    color: tomato;
    position: relative; top: 0px;
}
@media screen and (max-width:642px) {
    .top{
        font-size: 48px;
    }      
    .content .lg{
        font-size: 40px;
    }
    .content .htxt{
        font-size: 20px;
    }
}
@media screen and (max-width:532px) {
    .top{
        font-size: 35px;
    }      
    .content .lg{
        font-size: 30px;
    }
    .content .htxt{
        font-size: 18px;
        position: relative; top:-20px ;
    }
}
@media screen and (max-width:395px) {
    .top{
        font-size: 30px;
    }
    .content{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }      
}
@media screen and (max-width:280px) {
    .top{
        font-size: 25px;
    }
    .content .lg{
        font-size: 25px;
    }
    .content{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }      
    .content .htxt{
        font-size: 15px;
        position: relative; top:-35px ;
    }
}
.n{
    display: grid;
    grid-template-rows: 50px 50px;
    grid-row-gap: 20px;
}
.lg{
    justify-content: center;
    text-align: center;
    font-size: 55px;
    
}
.htxt{
    justify-content: center;
    text-align: center;
    font-size: 28px;
    font-weight: 1000;
}